* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topsale-header-subtitle {
    font-size: 2.8rem !important;
    font-family: 'Gotu', sans-serif;
    padding-top: .2rem;
}

.topsale-header-text {
    margin-inline: auto;
    width: 60%;
    font-weight: 500 !important;
    font-size: 1.2rem !important;
}

.buttons-list-btn,
.dropdown-toggle {
    padding: .8rem 2rem;
    background-color: #E0D7CE;
    color: black;
    border: none;
    font-size: 1.35rem;
    font-weight: 500;
    letter-spacing: .8px;
    border-radius: 8px;
}

.buttons-list-btn,
.dropdown {
    background-color: #E0D7CE;
    color: black;
    margin-inline: 1rem;
    border-radius: 8px;
}

.buttons-list-btn:hover,
.dropdown-toggle:hover {
    background-color: #f1e8de;
    color: black;
}

.buttons-list-btn:focus,
.dropdown-toggle:focus {
    background-color: #f1e8de;
    color: black;
}


/* StitchedAllProducts -- RENDRING */
.card-body-detail-section {
    display: flex;
    justify-content: space-between;
    padding-inline: 0;
    margin-inline: .5rem;
}

.stitched-card-data {
    font-weight: 600;
}


.top-sale-card-body-button-btn {
    margin-top: .5rem;
    padding-inline: .7rem;
    padding-block: .5rem;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    transition: .4s;
    background-color: #E0D7CE;
    color: black;
    border-radius: 10px;
}

.top-sale-card-body-button-btn:hover {
    background-color: #E0D7CE;
    color: black;
}

.subcategory-heading {
    font-size: 2.2rem;
    font-weight: 700;
    color: #4F4D4A;
}



/* StitchedAllProducts -- PAGINATION */

@media only screen and (max-width: 1200px) {
    .topsale-header-text {
        width: 70% !important;
    }
}

@media only screen and (max-width: 992px) {
    .topsale-header-text {
        width: 75% !important;
    }
}

@media only screen and (max-width: 768px) {
    .topsale-header-text {
        width: 90% !important;
        font-size: 1.3rem !important;
    }
}