input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* font-family: 'Gotu', sans-serif;
font-family: 'Italiana', sans-serif;
font-family: 'Lato', sans-serif; */


.shopping-cart {
    background-color: #faf9f9 !important;
    padding-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

.shopping-cart.dark {
    background-color: #ffffff;
}

.shopping-cart .content {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    background-color: white;
}

.shopping-cart .block-heading {
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.shopping-cart-heading {
    font-size: 2.2rem;
    font-weight: 600;

}

.shopping-cart .block-heading p {
    text-align: center;
    max-width: 420px;
    margin: auto;
    opacity: 0.7;
}

.shopping-cart .dark .block-heading p {
    opacity: 0.8;
}

.shopping-cart .block-heading h1,
.shopping-cart .block-heading h2,
.shopping-cart .block-heading h3 {
    margin-bottom: 1.2rem;
    color: #9e9388;
}

.shopping-cart .items {
    margin: auto;
}

/* .shopping-cart .items .product {
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
} */

.shopping-cart .items .product .info {
    padding-top: 0px;
    text-align: center;
}

.shopping-cart .items .product .info .product-name {
    font-weight: 600;
}

.shopping-cart .items .product .info .product-name .product-info {
    font-size: 14px;
    margin-top: 15px;
}

.shopping-cart .items .product .info .product-name .product-info .value {
    font-weight: 400;
}

.shopping-cart .items .product .info .quantity .quantity-input {
    margin: auto;
    width: 80px;
}

.shopping-cart .items .product .info .price {
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
}

.shopping-cart .summary {
    border-top: 2px solid #814c17;
    background-color: #E0D7CE;
    height: 100%;
    padding: 30px;
}

.shopping-cart .summary h3 {
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type) {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text {
    font-size: 1.2rem;
    font-weight: 600;
}

.shopping-cart .summary .price {
    font-size: 1.2rem;
    font-weight: 600;
    float: right;
}

.shopping-cart .summary button {
    margin-top: 20px;
}


.no-item-in-cart {
    color: #88817b;
    font-size: 1.5rem;
    margin-top: 2rem;
    padding-left: 2.5rem;
}

.no-item-in-cart span {
    color: #88817b;
    font-size: 1.2rem;
    margin-top: .5rem;
}

.cart-form-label {
    font-size: 1.1rem;
    font-weight: 600;
}

.cart-form-control {
    width: 2.6rem;
    height: 2.6rem;
    line-height: 1.3rem;
    background-color: #E0D7CE;
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    padding: .8rem 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
}

.cart-btn {
    background-color: #9e9388;
    width: 2.6rem;
    height: 2.6rem;
    line-height: 1.3rem;
}

.cart-btn:hover {
    background-color: #9e9388;
    /* width: 3rem;
    height: 3rem; */
}

.cart-btn i {
    color: #fff !important;
}

.cart-btn i:hover {
    color: #fff !important;
}

.cart-item-price {
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1.4rem;
}

.summary-checkout-btn {
    background-color: #9e9388;
    color: #fff;
    transition: transform .4s ease;
}

.summary-checkout-btn:hover,
.summary-checkout-btn:focus,
.summary-checkout-btn:active {
    background-color: #9e9388 !important;
    color: #fff !important;
    transform: translateY(-4px);
}

.trash-btn i {
    color: #867768;
}

/* -------- CUSTOM -------- */

.products-detail h5 {
    font-size: 1.05rem !important;
}

.summary-details {
    font-size: 1rem !important;

    .summary-item span {
        font-size: 1.05rem !important;
    }
}



.product_details {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    flex-direction: column;
    padding-left: 1.5rem;


    .value {
        font-weight: 400;
        font-size: 1.3rem !important;
    }
}

.cart-functions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
}

.cart-form-label {
    font-size: 1.5rem !important;
    color: #867768;
    font-family: 'Gotu', sans-serif;
}


.cart-content {
    margin-block: auto;
}

.cartPage-img-cont {
    margin-left: 1rem;
    margin-top: .8rem;
}





@media only screen and (max-width: 768px) {
    .product_details {
        justify-content: center !important;
        flex-direction: column;
        padding-left: 1rem;


        .value {
            font-weight: 400;
            font-size: 1.3rem !important;
        }
    }

    .cart-image {
        width: 100% !important;
        height: 100% !important;
        margin: auto !important;
    }
}


@media only screen and (max-width: 576px) {
    .cart-details-cont {
        flex-direction: row !important;
    }

    .cart-content {
        flex-direction: column !important;
        padding-top: 0 !important;
    }

    .cart-image {
        /* width: 50% !important;
        height: 50% !important; */
        margin: auto !important;
    }

    .cartPage-img-cont {
        margin-left: 0rem !important;
    }

    .cartPage-img-cont {
        margin-top: 0rem;
    }
}




/* @media (min-width: 768px) {
    .shopping-cart .items .product .info {
        padding-top: 25px;
        text-align: left;
    }

    .shopping-cart .items .product .info .price {
        font-weight: bold;
        font-size: 22px;
        top: 17px;
    }

    .shopping-cart .items .product .info .quantity {
        text-align: center;
    }

    .shopping-cart .items .product .info .quantity .quantity-input {
        padding: 4px 10px;
        text-align: center;
    }


} */