.orderList-cont {
    width: 90%;
    margin: auto;
}

.orderList-body-cont {
    padding-inline: 1rem;
    border-radius: 10px;
    background-color: #E0D7CE;
    border: none;
}

.orderList-header-title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Gotu', sans-serif;
}

.shipping-address h4 {
    font-size: 1.2rem !important;
}

.shipping-address-bar {
    width: 100%;
    padding: .7rem .9rem;
    outline: none;
    border: none;
    border-radius: 10px;
    resize: none;
    font-size: 1rem !important;
    color: #3a3a3a;
    background-color: #FAF9F9 !important;
}

.shipping-address-bar::placeholder {
    color: rgb(145, 145, 145) !important;

}

.order_id {
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.order_status {
    font-size: 1.3rem !important;
}

.orderList-body-content {
    font-size: 1.05rem;
}

.orders-total {
    font-size: 1.2rem;
    font-weight: 700;
}

.divider {
    display: none;
}



@media only screen and (max-width: 576px) {
    .order_list_details-left {
        margin-right: 1rem !important;
    }

    .orderList-body-cont {
        padding: 0rem 1rem !important;
    }

    .order_list_box {
        flex-direction: column;
        gap: 2rem;
    }

    .divider {
        display: block;
    }
}


@media only screen and (max-width: 480px) {
    .orderList-cont {
        width: 100%;
        margin: auto;
    }

    .order_id {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 377px) {

    .orderList-body-cont {
        padding-inline: .5rem !important;
    }

    .order_id {
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
    }

    .order-id-text {
        font-size: 1.25rem !important;
        font-weight: 500;
    }
}